---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { Counter } from '../components/Counter';
---

<Layout>
	<div class="container mx-auto px-4 py-8">
		<Welcome />
		<div class="mt-8">
			<Counter client:load />
		</div>
	</div>
</Layout>
